<div class="card fixed-card">
  <img class="card-img-top" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    
    <p class="card-text"><%= post.content %></p>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last Updated: <%= post.updated_at.strftime("%B %d, %Y") if post.updated_at.present? %></small>
  </div>
</div>