<h1>Welcome to My Rails Application!</h1>
<p>Your Ruby on Rails app is running successfully.</p>

<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" title="Tooltip text!">
  Hover me to see the tooltip!!!
</button>