<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% @posts.each do |post| %>
  <%= render partial: "card", locals: { post: post } %>
<% end %>

<% if @posts.empty? %>
  <p>No posts available.</p>
<% end %>