<a data-mdb-ripple-init class="btn btn-outline-secondary flex" href="<%= admin_posts_path %>" role="button">
  <i class="fa-sharp fa-solid fa-chevron-left"></i> Back
</a>

<h1 class="mt-5">New Post</h1>
<%= render "form", post: @post %>
