<div class="col-lg-2 col-md-3 col-sm-4 mb-4">
	<div class="card memorial-card" style="width: 100%; height: 300px;">
		<img src="<%= memorial_image_path(memorial) %>" class="card-img-top" alt="<%= memorial_name %>" style="height: 150px; object-fit: cover;">
		<div class="card-body text-center">
			<h5 class="card-title"><%= memorial_name %></h5>
		</div>
	</div>
</div>
