<!-- Sidebar -->
<div class="sidebar sidebar-theme">
	<a href="/" class="sidebar-logo">
		<img src="<%= asset_path 'icons/big_logo.png' %>" alt="Yolky Collect" class="sidebar-logo-img">
	</a>
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item">
			<a href="#" class="nav-link link-dark" data-bs-toggle="collapse" data-bs-target="#category1" aria-expanded="false" aria-controls="category1">
				<i class="fas fa-folder"></i> Category 1
			</a>
			<div class="collapse" id="category1">
				<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
					<li><a href="#" class="link-dark rounded">Page 1</a></li>
					<li><a href="#" class="link-dark rounded">Page 2</a></li>
					<li><a href="#" class="link-dark rounded">Page 3</a></li>
				</ul>
			</div>
		</li>
		<li>
			<a href="#" class="nav-link link-dark" data-bs-toggle="collapse" data-bs-target="#category2" aria-expanded="false" aria-controls="category2">
				<i class="fas fa-folder"></i> Category 2
			</a>
			<div class="collapse" id="category2">
				<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
					<li><a href="#" class="link-dark rounded">Page 1</a></li>
					<li><a href="#" class="link-dark rounded">Page 2</a></li>
					<li><a href="#" class="link-dark rounded">Page 3</a></li>
				</ul>
			</div>
		</li>
	</ul>
</div>
